<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<!-- Basic -->

<head th:replace="fragments::head">


</head>

<body>
	<!-- Start Main Top -->
	<div th:replace="fragments::main-top"></div>
	<!-- End Main Top -->

	<!-- Start Main Top -->
	<header th:replace="fragments::main-header"> </header>
	<!-- End Main Top -->

	<!-- Start Top Search -->
	<div th:replace="fragments::top-search"></div>
	<!-- End Top Search -->

	<!-- Start All Title Box -->
	<div th:replace="fragments::slider"></div>
	<!-- End All Title Box -->

	<!-- Update Personal Information -->
	<section>
		<div class="cart-box-main">
			<div class="container">
				<div class="row">
					<div class="col-lg-15">
						<div class="table-main table-responsive">
							<table class="table">
								<thead>
									<tr>
										<th class="order-date">Fecha de Pedido</th>
										<th>Fecha de Entrega</th>
										<th class="price-pr">Estado de Orden</th>
										<th class="quantity-box">Precio Total</th>
										<th class="total-pr">Metodo de Pago</th>
										<th>Acción</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="order : ${orders}">
										<td class="order-date"><span><b
												th:text="${order.orderDate}"></b></span></td>
										<td class="name-pr" th:if="${order.deliveryDate != null}">
											<p th:text="${order.deliveryDate}"></p>
										</td>
										<td class="name-pr" th:if="${order.deliveryDate == null}">
											<p>Esperando...</p>
										</td>
										<td class="price-pr">
											<p th:text="${order.orderStatus}"></p>
										</td>

										<td class="total-pr">
											<p style="color: red" th:text="${'$' + order.totalPrice}"></p>
										</td>
										<td class="total-pr" style="color: black"><span></span>Cash</span>
										</td>
										<td><a th:href="@{/show-order/{id} (id = ${order.id})}"
											class="btn btn-secondary"><i class="fas fa-eye"></i> Ver
												Pedido</a> <a th:if="${order.orderStatus == 'PENDIENTE'}"
											th:href="@{/cancel-order/{id} (id = ${order.id})}"
											class="btn btn-danger"
											onclick="return confirm('¿Estás seguro de eliminar el pedido?')">
												<i class="fas fa-trash"></i> Cancelar Pedido
										</a></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer th:replace="fragments::footer"></footer>

	<!-- ALL JS FILES -->
	<div th:replace="fragments::script"></div>
</body>

</html>